# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.egg-info/
dist/
build/
.venv/
venv/
*.log

# Node / Frontend
node_modules/
frontend/dist/
frontend/.vite/
.npm/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp

# Temp
*.tmp
missing_enzymes.txt
get_enzyme_ids.py
